<!DOCTYPE html>
<html lang="pt-br"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet"
		href="/materialize/css/materialize.min.css" media="screen,projection" />
	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="UTF-8">
	
	<!-- importacao do css -->
		<link rel="stylesheet" href="style/styleCss.css">

<title>Cadastrar Madeira - Madeireira</title>

</head>
<body>

	<!-- header - navbar -->
	<header>
		<nav>
		    <div class="nav-wrapper">
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/logout" >Logout</a></li>
		      </ul>
		    </div>
 		</nav>
	</header>

	
	<table class="container">
		<tr>
			<th>ID</th>
			<th>Tipo</th>
			<th>Quantidade (m³)</th>
			<th>Refinada</th>
			<th>Reflorestamento</th>
			<th>Data de registro</th>
			<th>Responsavel</th>
		</tr>
		<tr th:each="madeira: ${madeiras}">
			<td><span th:text="${madeira.id}"></span></td>
			<td><span th:text="${madeira.tipo}"></span></td>
			<td><span th:text="${madeira.qtdeMCubicos}"></span></td>
			<td>
				<span th:if="${madeira.refinada}">Refinada</span>
				<span th:unless="${madeira.refinada}">Não refinada</span>
			</td>
			<td><span th:text="${madeira.reflorestamento}"></span></td>
			<td><span th:text="${madeira.dataHora}"></span></td>
			<td><span th:text="${madeira.userResp}"></span></td>
		</tr>
	</table>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>
